@font-face {
  font-family: 'Inter';
  src: url('./InterThin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: url('./InterLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('./InterRegular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./InterMedium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./InterBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./InterBlack.ttf');
  font-weight: 900;
}
