@import '../../styles/palette.scss';

.wrap {
  display: flex;
  align-items: center;

  &__info {
    margin-left: 28px;

    @media (max-width: $maxMobileWidth) {
      margin-left: 15px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;

  &__name {
    margin-bottom: 6px;
  }
}

.description {
  display: flex;
  flex-direction: column;

  &__item {
    font-size: $secondaryFontSizeDesktop;
    font-weight: 300;
  }
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}
