@font-face {
  font-family: 'Roboto';
  src: url('./RobotoThin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url('./RobotoLight.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('./RobotoRegular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./RobotoMedium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./RobotoBold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url('./RobotoBlack.ttf');
  font-weight: 900;
}
