@import '../../styles/palette.scss';
.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $secondaryFontSizeDesktop;
  font-weight: 300;
  padding: 5px 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  &_primary {
    color: $textWhiteColor;
    background-color: $backgroundDarkColor;
  }
  &_secondary {
    color: $textDarkColor;
    background-color: $backgroundLightColor;
  }

  &__circle {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: $primaryPinkColor;

    &_active {
      background-color: $primaryGreenColor;
    }
  }
}
