@import '../../styles/palette.scss';

.imageUpload {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-row-gap: 70px;
  grid-column-gap: 50px;

  @media (max-width: $maxMobileWidth) {
    display: flex;
    flex-direction: column;
    grid-row-gap: 0;
  }

  &__item {
  }
  .mediaWrapper {
    @media (max-width: $maxMobileWidth) {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      margin-bottom:$standardVerticalMarginMobile ;
    }

  }
}

.image {
  object-fit: cover;
}

.skeleton {
  width: 450px !important;
  height: 450px !important;
}

.skeletonMedia {
  width: 100% !important;
  height: 355px !important;
}


