@import '../../styles/palette.scss';

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  color: $primaryGreyColor;
  max-width: 1306px;
  margin: 0 auto;
  position: relative;

  @media (max-width: $maxMobileWidth) {
    font-size: $primaryFontSizeMobile;
  }
  &__item {
    margin-right: 40px;
    transition: opacity 0.2s;
    opacity: 1;
    text-transform: uppercase;
    font-weight: $regularFontWeight;
    position: relative;


    @media (max-width: 1200px) {
      margin-right: 30px;
    }

    @media (max-width: $maxMobileWidth) {
      margin-right: 0;
      font-size: $parametersFontSizeMobile;
      padding: 9px 15px;
      border-radius: 5px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }

    &:last-child {
      margin-right: 0;
    }

    &_activeDeep {
      color: $textHintColor !important;

      @media (max-width: $maxMobileWidth) {
        color: $textDarkColor !important;
        background: $backgroundLightColor;
      }
    }
    &_active {
      color: $textHintColor !important;

      @media (max-width: $maxMobileWidth) {
        color: $textDarkColor !important;
        background: $backgroundLightColor;
      }
    }
  }
}
.seriesNumber {
  position: absolute;
  top: 0;
  right: -6px;
  height: 16px;
  width: 16px;
  font-size: 11px;
  font-weight: $regularFontWeight;
  background: $primaryPinkColor;
  padding-left: 1px;
  border-radius: 50%;
  color: $textWhiteColor;
  text-align: center;

  @media (max-width: $maxMobileWidth) {
    top: 3px;
    right: 3px;
    padding-left: 0;
    padding-top: 1px;

  }
}

.mobileFilter {
  transition: all 0.5s ease-in-out;
  color: $textHintColor;
  display: none;

  &__hide {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: all 0.5s;
  }

  &__display {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 170px;
    transition: all 0.5s;
    margin-left: -68vw;
    padding-left: 5vw;
    @media (max-width: 375px) {
      padding-left: 9vw;
      margin-right: -2%;
    }
  }
}

.mobileFilter__titleWrapper {
  min-width: 116px;
  text-align: right;
  height: max-content;

  @media (max-width: $maxMobileWidth) {
    position: sticky;
    height: 47px;
    min-width: 116px;
    z-index: 106;
  }

  &__titleToTop {
    top: 0;
    transition: top 0.3s ease 0s;
  }
  &__titleUnderHeader {
    top: 50px;
    transition: top 0.3s ease 0s;
  }
}
.mobileFilter__titleWrapper__titleToTop {
  top: 0;
  transition: top 0.3s ease 0s;
}

.mobileFilter__titleWrapper__titleUnderHeader {
  top: 50px;
  transition: top 0.3s ease 0s;
}

.mobileFilter__title {
  text-transform: uppercase;
  font-size: $parametersFontSizeMobile;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: $textHintColor;

    @media(max-width: $maxMobileWidth) {
      margin-top: 13px;
      margin-bottom: 8px;
      padding-bottom: 12px;
    }

}

.mobileFilterArrow {
  height: 34px;
  &::before {
    color: $textHintColor;
    margin-right: 8px;
    transition: all 0.3s;
    content: url('/icons/filterArrowDown.svg');
    display: inline-block;
  }
}

.mobileFilterClicked {
  height: 37px;
  &::before {
    fill: $textHintColor;
    margin-right: 8px;
    content: url('/icons/filterArrowDown.svg');
    transform: rotate(90deg);
    display: inline-block;
    transition: all 0.3s;
  }
}
